@section Scripts {
	@Scripts.Render("~/bundles/app")
	<script type="text/javascript">
		$(document).ready(function () {
			var links = {
				login: '@Url.Content("~/Token")',
				register: '@Url.Content("~/api/Account/Register")'
			};
			ko.applyBindings(new toDoViewModel(links));
		});
	</script>
}
<section style="display: none;" id="section_content">
	<!--ko if: page() == 'Login'-->
	<div>
		<h3>Вход</h3>
		<form data-bind="submit: login">
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" type="text" data-bind="value: loginEmail" />
			</div>
			<div class="form-group">
				<label>Пароль</label>
				<input class="form-control" type="password" data-bind="value: loginPassword" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Вход</button>
				<button data-bind="click: goToRegister" class="btn btn-default">Регистрация</button>
			</div>
		</form>
	</div>
	<!--/ko-->
	<!--ko if: page() == 'register'-->
	<div>
		<form data-bind="submit: register">
			<h3>Регистрация</h3>
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" type="text" data-bind="value: registerEmail" />
			</div>
			<div class="form-group">
				<label>Пароль</label>
				<input class="form-control" type="password" data-bind="value: registerPassword" />
			</div>
			<div class="form-group">
				<label>Подтверждение пароля</label>
				<input class="form-control" type="password" data-bind="value: registerPassword2" />
			</div>
			<div class="form-group">
				<button data-bind="click: goToLogin" class="btn btn-default">Вход</button>
				<button type="submit" class="btn btn-default">Зарегистрироваться</button>
			</div>
		</form>
	</div>
	<!--/ko-->
	<!--ko if: page() == 'Home'-->
	<div>
		<h3>Мои задачи</h3>
	</div>
	<!--/ko-->
	<!--ko if: page() == 'Login00'-->
	<!--/ko-->
</section>